/* Reset global CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    height: 80px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #FFFFFF;
}

.logo {
    position: absolute;
    width: 38px;
    height: 47.5px;
    left: 112px;
    top: 16px;
}

.logo-name {
    position: absolute;
    width: 111px;
    height: 35px;
    left: 164px;
    top: 22px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.menu-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    position: absolute;
    width: 577px;
    height: 21px;
    right: 112px;
    top: 30px;
}

.menu-item {
    height: 21px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #14171F;
}

.menu-item:last-child {
    color: #F9995D;
}

.main {
    position: relative;
    height: 646px;
    left: 0px;
    right: 0px;
    top: 80px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 16.58%, rgba(255, 255, 255, 0) 72.38%), url(./assets/Backgound1.png);
    background-size: cover;
    background-position: bottom;
}

.main-content {
    position: absolute;
    width: 556px;
    height: 168px;
    left: 112px;
    top: 239px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 84px;
    color: #292E3D;
}

.container-feature-projects {
    position: absolute;
    width: 416px;
    height: 150px;
    right: 0px;
    bottom: 40px;
    background: #3559C7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 20px;
}

.feature-projects {
    width: 163px;
    height: 23px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.content {
    width: 312px;
    height: 61px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 416px;
    height: 40px;
    position: relative;;
    bottom: 0px;
    flex-direction: row;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.button1 {
    position: relative;
    width: 208px;
    height: 40px;
    background-color: #292e3d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1::before {
    display: inline-block;
    content: '';
    width: 26px;
    height: 17px;
    margin-right: 10px;
    background-image: url(./assets/icon-left.png);
    background-size: 100%;
    color: #fff;
}

.button2 {
    position: relative;
    width: 208px;
    height: 40px;
    background-color: #292e3d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button2::after {
    display: inline-block;
    content: '';
    width: 26px;
    height: 17px;
    margin-left: 10px;
    background-image: url(./assets/icon-right.png);
    background-size: 100%;
    color: #fff;
}
  